body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gabarito', sans-serif;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.chessboard-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black;
    box-shadow: 20px 20px 25px rgb(0, 0, 0);
}

.square {
    display: flex;
    cursor: pointer;
    position: relative;
    width: 5rem;
    height: 5rem;
}

.highlight-color {
    background-color: rgba(250, 253, 40, 0.5);
}